
<%# userのshowページとmusicのindexページの部分テンプレートとなります%>
<table class= "table mt-3">
  <thead class="thead-light">
     <tr>
      <th>楽曲名</th>
      <th>歌手名</th>
      <th>ジャンル名</th>
      <th>投稿者</th>
      <th>いいね</th>
      <th>コメント数</th>
      <th>閲覧数</th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
      <tr>
       <td><%= link_to music.music_name, music_path(music.id) %></td>
       <td><%= music.singer %></td>
       <td><%= music.music_genre.genre_name %></td>
       <td><%= music.user.name %></td>
       <td id="favorite_buttons_<%= music.id %>">
        <%= render "user/favorites/favorite", music: music %>
       </td>
       <td><%= music.music_comments.count %></td>
       <td><%= music.view_counts.count %></td>
       <td>
        <% if music.user == current_user %>
        <%=link_to "Edit", edit_music_path(music.id) ,class: 'btn btn-success' %>
        <%= link_to "Destroy", music_path(music), method: :delete ,class: "btn btn-danger", data: { confirm: "投稿が消えてしまいます、本当に削除してもよろしいですか？" } %>
       </td>
      </tr>
      <% end %>
     <% end %>
  </tbody>
</table>