<%= render 'user/shared/flash_messages' %>
<div class= "container px-5 px-sm-0">
 <div class='row'>
  <div class="col-md-3">
   <%= render "user/music_genres/music_genre" ,music_genres: @music_genres %>
   <div class="mt-3">
   <%= search_form_for @q, url: search_musics_path, html: { class: "form-inline" } do |f| %>
    <div class="input-group">
      <%= f.text_field :music_name_cont, class: "form-control" %>
     <div class="input-group-append">
      <%= f.submit '検索', class: "btn btn-primary" %>
     </div>
    </div>
     <% end %>
   </div>
   <div class= "paginate"> 
      <%= paginate @musics %>
   </div>
  </div>
  <div class="col-md-8">
  <h3 class=" text-center mt-3">Musics</h3>
   <table class= "table mt-3">
    <thead class="thead-light">
     <tr>
      <th>音楽名</th>
      <th>歌手名</th>
      <th>ジャンル名</th>
      <th>投稿者</th>
      <th>いいね</th>
      <th>コメント数</th>
      <th>閲覧数</th>
      <th></th>
      </tr>
    </thead>
   <tbody>
    <% @musics.each do |music| %>
      <tr>
       <td><%= link_to music.music_name, music_path(music.id) %></td>
       <td><%= music.singer %></td>
       <td><%= music.music_genre.genre_name %></td>
       <td><%= music.user.name %></td>
       <td id="favorite_buttons_<%= music.id %>">
        <%= render "user/favorites/favorite", music: music %>
        </td>
        <td><%= music.music_comments.count %></td>
        <td><%= music.view_counts.count %></td>
        <td>
        <% if music.user == current_user %>
        <%=link_to "Edit", edit_music_path(music.id) ,class: 'btn btn-success' %>
        <%= link_to "Destroy", music_path(music), method: :delete ,class: "btn btn-danger", data: { confirm: "投稿が消えてしまいます、本当に削除してもよろしいですか？" } %>
        </td>
      </tr>
      <% end %>
     <% end %>
    </tbody>
  </table>
  </div>
 </div>
</div>
