<div class= "container px-5 px-sm-0">
 <%= render 'user/shared/flash_messages' %>
 <div class='row'>
  
 <%# renderでジャンル一覧の表示、search_form_forの文で検索ができるようになっております%>
  <div class="col-md-3">
   <%= render "user/music_genres/music_genre" ,music_genres: @music_genres %>
   <div class="mt-3">
   <%= search_form_for @q, url: search_musics_path, html: { class: "form-inline" } do |f| %>
    <div class="input-group">
      <%= f.text_field :music_name_cont, class: "form-control" %>
     <div class="input-group-append">
      <%= f.submit '検索', class: "btn btn-primary" %>
     </div>
    </div>
     <% end %>
   </div>
   <div class= "paginate">
      <%= paginate @musics %>
   </div>
  </div>
  
  <div class="col-md-9">
   <h3 class=" text-center mt-3">Musics</h3>
   <%= render 'user/musics/music_index', musics: @musics %> 
  </div>
  
 </div>
</div>
