 <%= render 'user/shared/flash_messages' %>

 <div class="container">
  <div class="row">
   <div class="col-md-3 col-md-offset-2">
    <div class="card mb-2 box-shadow" style="margin-top: 20px;">
      <%= image_tag @music.get_music_image(100,100), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">楽曲名: <%= @music.music_name %></h5>
        <h5 class="card-subtitle mb-2 ">歌手名: <%= @music.singer %></h5>
      <% if @music.music_genre.present? %>
        <h5 class="card-subtitle mb-2 ">ジャンル名: <%= @music.music_genre.genre_name %></h5>
      <% end %>
        <h5 class="card-subtitle mb-2 ">閲覧数: <%= @music.view_counts.count %></h5>
      <% if @music.user.present? %>
        <h5 class="card-subtitle mb-2 ">投稿者名: <%= link_to @music.user.name ,user_path(@music.user.id) %></h5>
      <% end %>
        <p class="card-text"><%= simple_format(@music.music_notes) %></p>
        <div id="favorite_buttons_<%= @music.id %>">
       <h5 class="card-subtitle mb-2 ">いいね<%= render "user/favorites/favorite", music: @music %></h5>
        </div>
      </div>
     </div>
     <div class= "botton" style="margin-top: 20px; margin-left: 20px;">
      <% if @music.user == current_user %>
      <%=link_to "Edit", edit_music_path(@music.id) ,class: 'btn btn-success' %>
      <%= link_to "Destroy", music_path(@music), method: :delete ,class: "btn btn-danger" %>
      <% end %>
     </div>
    </div>
    <div class="col-md-9">
     <div id= "comments-area-index">
      <%= render "user/music_comments/comment",music: @music , music_comment: @music_comment %>
     </div>
    </div>
   </div>
 </div>