<div class= "container mt-5">
 <div class="row justify-content-center">
  <div class="col-md-8">
   <h3 class=" text-center mt-3">お気に入り一覧</h3>
      <% if @favorites.empty? %>
      <h3 class=" text-center mt-3">いいねした楽曲はありません</h3>
      <% else %>
      <table class= "table mt-5">
      <thead class="thead-light">
       <tr>
        <th>音楽名</th>
        <th>歌手名</th>
        <th>ジャンル名</th>
        <th>投稿者</th>
       </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
       <tr>
        <td><%= link_to favorite.music.music_name,music_path(favorite.music) %></td>
        <td><%= favorite.music.singer %></td>
        <td><%= favorite.music.music_genre.genre_name %></td>
        <td><%= favorite.music.user.name %></td>
       </tr>
       <% end %>
      </tbody>
    </table>
    <%= paginate @favorites %>
    <% end %>
  </div>
 </div>
</div>