<%= render 'user/shared/flash_messages' %>
 <div class="container">
  <div class="row">
   <div class="col-md-3 col-md-offset-2">
    <div class="card mb-2 box-shadow" style="margin-top: 20px;">
     <% if @user.present? %>
       <%= image_tag @user.get_profile_image(100,100), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">名前:<%= @user.name %></h5>
         <% if @user.introduction.present? %>
       <p class="card-text">自己紹介:<%= simple_format(@user.introduction) %></p>
        <% end %>
      </div>
    </div>
    <div class= "botton" style="margin-top: 20px; margin-left: 20px;">
      <% if @user == current_user && !current_user.guest? %>
      <%=link_to "Edit", edit_user_path(@user.id) ,class: 'btn btn-success' %>
      <% end %>
    </div>
     <% end %>
   </div>
    <div class="col-md-9">
      <div class="card" style= "margin-top: 20px;">
       <div class="card-header">
        <h1 class="h3 mb-o">投稿楽曲一覧</h1>
         <table class= "table mt-5">
          <thead class="thead-light">
           <tr>
            <th>楽曲</th>
            <th>歌手名</th>
            <th>ジャンル名</th>
            <th>投稿者</th>
           <th colspan="3"></th>
           </tr>
          </thead>
          <tbody>
           <% @musics.each do |music| %>
            <tr>
             <td><%= link_to music.music_name, music_path(music.id) %></td>
             <td><%= music.singer %></td>
             <td><%= music.music_genre.genre_name %></td>
             <td><%= music.user.name %></td>
           <% if music.user == current_user %>
             <td><%=link_to "Edit", edit_music_path(music.id) ,class: 'btn btn-success' %></td>
             <td><%= link_to "Destroy", music_path(music), method: :delete ,class: "btn btn-danger" %></td>
            </tr>
           <% end %>
           <% end %>
          </tbody>
         </table> 
         <%= paginate @musics %>
       </div>
     </div>
    </div>
   </div>
 </div>