<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
   <div class="container">
    
     <% unless admin_signed_in? %>
     <a class="navbar-brand" href="<%= root_path %>">
     <i class="fas fa-seedling"></i>
     <span>Commusic_LIFE</span>
     <i class="fas fa-seedling"></i>
     </a>
     <% else %>
       <a class="navbar-brand" href="<%=admin_root_path %>">Commusic_LIFE</a>
     <% end %>
     
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
     
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto">
        
        <%# 管理者とユーザーの条件分岐を行っています%>
        <% if admin_signed_in? %>
        
        <% if request.fullpath.include? "/admin" %>
         <li class="border rounded mr-2">
          <%=link_to "ホーム" ,admin_root_path, class:"nav-link text-light"%>
         </li>
         <li class="border rounded mr-2">
          <%=link_to " 投稿一覧" , admin_musics_path, class:"nav-link text-light"%>
         </li>
         <li class="border rounded mr-2">
          <%=link_to "会員一覧" , admin_users_path, class:"nav-link text-light"%>
         </li>
         <li class="border rounded mr-2">
          <%=link_to "ジャンル作成" ,admin_music_genres_path, class:"nav-link text-light"%>
         </li>
         <li class="border rounded mr-2">
          <%=link_to "ログアウト",destroy_admin_session_path,method: :delete, class:"nav-link text-light"%>
         </li>
        <% end %>
        
        <% elsif user_signed_in? %>
         <li class="border rounded mr-2">
          <%=link_to new_user_session_path, class:"nav-link text-light" do %>
          <i class="fas fa-home"></i>
           Home
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to new_music_path, class:"nav-link text-light" do %>
          <i class="fas fa-paper-plane"></i>
           Post_Music
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to users_path, class:"nav-link text-light" do %>
          <i class="fas fa-users"></i>
           Users
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to musics_path, class:"nav-link text-light" do%>
          <i class="fas fa-music"></i>
          Musics
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to destroy_user_session_path,method: :delete, class:"nav-link text-light" do %>
          <i class="fas fa-sign-out-alt"></i>
           LOGOUT
          <% end %>
         </li>
         
        <% else %>
         <li class="border rounded mr-2">
          <%=link_to root_path, class:"nav-link text-light" do %>
           <i class="fas fa-home"></i>
            Home
           <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to about_path, class:"nav-link text-light" do %>
          <i class="fas fa-music"></i>
            About
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to user_guest_sign_in_path, method: :post, class:"nav-link text-light" do %>
          <i class="fas fa-user"></i>
           Guest_Login（閲覧用）
          <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to new_user_registration_path, class:"nav-link text-light" do %>
          <i class="fas fa-user-plus"></i>
           Sign_UP
         <% end %>
         </li>
         <li class="border rounded mr-2">
          <%=link_to new_user_session_path, class:"nav-link text-light" do %>
          <i class="fas fa-sign-in-alt"></i>
           Login
          <% end %>
         </li>
         <li class="border rounded mr-2">
           <%=link_to new_admin_session_path, class:"nav-link text-light" do %>
           <i class="fas fa-user-cog"></i>
           Admin
          <% end %>
         </li>
         <% end %>
        </ul>
       </div>
       
  </div>
 </nav>
</header>